@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;500;600&display=swap');
:root{

    /*========== Font and typography ==========*/
    --body-font:'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1.1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Font Size ==========*/
    --font-size-table: .9rem;

    /*========== HSL color ==========*/
    --hue-color: 191;
    --table-color: hsl(var(--hue-color), 66%, 45%);
    --table-font-color: hsl(var(--hue-color), 66%, 100%);
    --title-font-color: hsl(var(--hue-color), 66%, 33%);

}

body{
    font-family: var(--body-font);
}


/* ============ Header ================ */
.header__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--title-font-color);
}

.header__title:hover {
    color: hsl(var(--hue-color), 76%, 24%);
}

.header__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
}

.navbar {
    background-color: hsl(var(--hue-color), 19%, 88%);
}


/* ============ Instructions ================ */
.instructions{
    margin: 1rem ;
}

.instructions__title{
    font-size: var(--h4-font-size);
}

.instructions__subtitle{
    font-size: var(--normal-font-size);
}


/* ============ Instructions ================ */
.card-wrapper {
    margin: 5% 0;
}

.card-body{
    margin: .2rem;
}

.leader__image {
  width: 13vw; /* note i used vw not px for better responsive */
  height: 13vw;
}

.leader__image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  /* font-size: var(--h4-font-size); */
}

.card-title:hover {
    font-color: hsl(var(--hue-color), 76%, 24%);
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}

/* ============ Button ================ */
.btn {
    background-color: var(--table-color);
    color: var(--table-font-color);

}


.error {
  font-family: var(--body-font);
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

/* ============ Button ================ */
#classTable {
  font-family: var(--body-font);
  border-collapse: collapse;
  width: 300px;

}

#classTable td, #classTable th {
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 8px;

}

#classTable td {
    font-size: var(--font-size-table);
    font-family: var(--body-font);
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table-color);
  color: white;
}